<%= form_with(model: @blog) do |form| %>
    <% if @blog.errors.any? %> 
        <% @blog.errors.full_messages.each do |message| %> 
            <%= message %> 
        <% end %>
    <% end %> 

<div>
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label :content %>
    <%= form.text_area :content %>
</div>

<div>
    <%= form.label :image_path %>
    <%= form.text_field :image_path %>
</div>

<div>
    <%= form.label :category_ids %>
    <%= form.collection_select(:category_ids, Category.all, :id, :name, {} ) %>
</div>

<div>
<%= form.submit %>
</div>

<% end %>



